header {
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  background: $background__header;

  > div {
    section {
      > p {
        margin: 0.5rem 0;
      }
    }

    aside {
      ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0;
        margin: 0;
      }

      li {
        a {
          display: block;
        }

        &:not(:last-child) {
          a {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }

  @media only screen and (min-width: $brakepoint__sm-min) {
    > div {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: $brakepoint__sm-max) {
    > div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      aside {
        margin-top: 4rem;
      }
    }
  }
}
